<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851454577409-vg7prajb9a0tsl3oie5js1vt5cm8mt59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851454577409-vg7prajb9a0tsl3oie5js1vt5cm8mt59</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DxU1f8_bZ2bRMuB0FcFJ0awQAfwlelo</string>
	<key>GCM_SENDER_ID</key>
	<string>851454577409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intimate</string>
	<key>PROJECT_ID</key>
	<string>intimate-app-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>intimate-app-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851454577409:ios:f57dbe7b62d8365b696900</string>
</dict>
</plist>